<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="users/login">Login/Register</a>
    </li>
    {{!-- <li class="nav-item">
      <a class="nav-link active" href="/login">Register</a>
    </li>
     --}}
  </ul>
</nav>