<h1>HOLA</h1>

<form action="/films/search" method="POST">
 <input type="name" name="search" class="form-control" id="search">
 <br>
 <button type="submit" class="btn btn-primary">Search</button>
</form>
