/* .video-l {
    background: rgba(109,0,25,1);
    background: -moz-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(169,3,41,1) 0%, rgba(169,3,41,0) 20%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(109,0,25,1)), color-stop(0%, rgba(169,3,41,1)), color-stop(20%, rgba(169,3,41,0)));
    background: -webkit-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(169,3,41,1) 0%, rgba(169,3,41,0) 20%);
    background: -o-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(169,3,41,1) 0%, rgba(169,3,41,0) 20%);
    background: -ms-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(169,3,41,1) 0%, rgba(169,3,41,0) 20%);
    background: linear-gradient(to right, rgba(109,0,25,1) 0%, rgba(169,3,41,1) 0%, rgba(169,3,41,0) 20%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329', GradientType=1 );
} */

/* .video-position-down{
    z-index:-2;
    position: relative;
} */

/* .video-down{
    background: rgba(109,0,25,1);
    background: -moz-linear-gradient(-45deg, rgba(109,0,25,1) 0%, rgba(169,3,41,1) 0%, rgba(169,3,41,0) 16%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(109,0,25,1)), color-stop(0%, rgba(169,3,41,1)), color-stop(16%, rgba(169,3,41,0)));
    background: -webkit-linear-gradient(-45deg, rgba(109,0,25,1) 0%, rgba(169,3,41,1) 0%, rgba(169,3,41,0) 16%);
    background: -o-linear-gradient(-45deg, rgba(109,0,25,1) 0%, rgba(169,3,41,1) 0%, rgba(169,3,41,0) 16%);
    background: -ms-linear-gradient(-45deg, rgba(109,0,25,1) 0%, rgba(169,3,41,1) 0%, rgba(169,3,41,0) 16%);
    background: linear-gradient(135deg, rgba(109,0,25,1) 0%, rgba(169,3,41,1) 0%, rgba(169,3,41,0) 16%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329', GradientType=1 );
}

.video-black{
    z-index: -2;
    position: relative;
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.29) 87%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(87%, rgba(0,0,0,0.29)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.29) 87%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.29) 87%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.29) 87%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.29) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
} */

#background {
    background-color: rgb(19, 100, 19);
   
}

/* #search-input {
    border-color: goldenrod;
    border-width: 2px;
    background-color: rgb(19, 100, 19);
    color: rgb(241, 177, 13);
} */

#home-title {
    font-family: 'Sofia', cursive;
    padding-top: 10px;
    color: rgb(241, 177, 13);
    text-align: center;
    font-size: 100px;
    padding-top: 20%;

}

#search-btn {
    color: rgb(241, 177, 13);
    border-color: goldenrod;
    border-width: 2px;
    background-color: rgb(19, 100, 19);
    margin-left: 45%;

    
}

#sinopsis {
    text-decoration: underline;
}

#home {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#search-container {
    width: 50%;
}

#movie-title {
    font-family: 'Girassol', cursive;
    color: rgb(241, 177, 13);

}

.spoty-img {
    height: 300px;
    width: 350px;
}

.navbar {
    background-color: rgb(8, 61, 8);
    
}

#search-form {
    padding-top: 5%;
}

.nav-link {
    color: rgb(241, 177, 13);
}

.cards-container {
    display: flex;
    padding: 50px 100px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cards-container img {
    object-fit: contain;
    object-position: center;
    height: 200px;
    width: 100%;
}

#card-background {
    background-color: rgb(8, 61, 8);
}

.card-title {
    color: rgb(241, 177, 13);
}