<h1>{{data.title}}</h1>

  <video
    id="video"
    class="video-js vjs-default-skin"
    autoplay
    loop
    width="640" height="264"
    data-setup='{ "aspectRatio":"640:267","techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "{{movie}}"}],"youtube": { "start": 5 } }'
  >
  </video>
  <div class="d-flex align-items-start">
    <div class="m-3">
      <img src="{{data.poster}}">
    </div>
    <div class="m-3">
      <h6>{{data.plot}}</h6>
    </div>

  </div>

 
  <script src="https://cdn.jsdelivr.net/npm/video.js@7.6.6/dist/video.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/videojs-youtube@2.5.1/dist/Youtube.min.js"></script>
  